.thumbnail-container {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}


.thumbnail {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}

.col-md-4 {
  padding: 0;
}

#navigation {
  display: inline;
  height: 10vh;
}

.logo-image {
  max-width: 15%;
  left: 200px;
  /*display: inline;*/
}

#fade {
   opacity: 1;

}

#fade:hover {
   opacity: 0.6;
   /*background-color: rgba(60, 60, 61, 0.71)*/
   }
#email {
  text-decoration: none;
}

#email:hover {
  color: #f07f0a;
}
.menu {
  float: right;
  clear: both;
  display: inline;
  position: absolute;
  top: 2%;
  left: 83%;
  margin-right: 0;

}

.menu-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

.menu-list li {
  display: inline-block;
  top: 20px;
  padding: 8px;
}

.menu-list li a {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;

}
/*hover colour not working*/
#menu:hover {
  color: #f07f0a;
}

.heading {
  font-size: 1.5rem;
  top: 15%;
}

.logo {
  left: 5%;
  padding-left: 1%;
  padding-top: 0.5%;
}

/*footer margin still visible*/
.footer {
  margin: 0;
  padding: 0;
}

.foot {
  background: black;
  height:68px;
  margin: 0;
  padding: 0;

}

a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  padding-top: 1.7%;
  float: right;
  text-decoration: none;

}


.carousel {
  /*background: pink;*/
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.contactbox {
  background-color: black;
  width: 100%;
  height: 90vh;
}

.details {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding-top: 18%;
  float: right;
  padding-right: 3%;
  text-decoration: none;
}

.email {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding-top: 24%;
  float: right;
  padding-right: 4%;
  text-decoration: none;
}

.pigtitle {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding-top: 24%;
  font-weight: bold;

  float: left;
}
