.thumbnail {
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	opacity: 1;
}

.overlay {
	display: none;
}

.thumbnail-container:hover .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.52);
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	text-align: center;
}

.thumbnail-container:hover .overlay p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 20px;
}

.row {
	margin: 0;
}

.col-md-4 {
	padding: 0;
}

.col-xl-12 {
	padding: 0;
}

.col-md-12 {
	padding: 0;
}

#navigation {
	display: inline;
	height: 10vh;
}

.logo-image {
	max-width: 15%;
	left: 200px;
	/*display: inline;*/
}

#email:hover {
	color: #f07f0a;
	text-decoration: none;
}
.menu {
	float: right;
	clear: both;
	display: inline;
	position: absolute;
	top: 2%;
	left: 83%;
	margin-right: 0;
}

.menu-list {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-list li {
	display: inline-block;
	top: 20px;
	padding: 8px;
}

.nav-link {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-align: right;
	-webkit-font-smoothing: antialiased;
}

.navbar-brand {
	margin-right: -0.5rem;
}

.navbar-light .navbar-toggler {
	border-color: rgba(251, 252, 252, 0);
}

#menu:hover {
	color: #f07f0a;
}

.heading {
	font-size: 1.5rem;
	top: 15%;
}

.logo {
	left: 5%;
	padding-left: 1%;
	padding-top: 0.5%;
}

footer {
	margin: 0;
	padding: 0;
}

.foot {
	background: black;
	height: 68px;
}

#email {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	padding-top: 22px;
	padding-right: 18px;
	float: right;
	text-decoration: none;
}

.e {
}

.details {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	padding-top: 18%;
	float: right;
	padding-right: 3%;
	text-decoration: none;
}

.pigtitle {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	padding-top: 24%;
	font-weight: bold;

	float: left;
}

.overlay {
	display: none;
}
.thumbnail:hover .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	text-align: center;
}
.thumbnail:hover .overlay p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 20px;
}

.container-fluid {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.gallery-cell {
	width: 100%;

	font-size: 24px;
	background: #eee;
}

h5 {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	float: left;
}

.project-title {
	left: 20px;
}

.bg-light {
	background-color: #ffffff !important;
}

.project-description {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	padding-top: 1%;
	padding-bottom: 47%;
	margin-top: 80px;
	margin-left: 60px;
	font-weight: bold;
	float: left;
}

.col-md-6 {
	padding: 0;
}

/* contact form */

.contact-wrapper-desktop {
	position: relative;
	background-color: black;
	height: 91vh;
	overflow: hidden;
	text-align: center;
}
.contact-wrapper-desktop {
	position: relative;
	background-color: black;
	height: 91vh;
	overflow: hidden;
	text-align: center;
}

.large-form {
	background-color: black;
	position: absolute;
	left: 50%;
}

.contact-area1 {
	height: 500px;
	width: 900px;
	position: relative;
	padding-top: 156px;
	overflow: hidden;
}

.form input {
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	background: transparent;
	border: none;
	border-bottom: 1px solid #ffffff;
	padding-top: 22px;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
}

::placeholder {
	color: white;
}

.form-details p {
	color: white;
	text-align: right;
	font-size: 1.3rem;
}

.button {
	border: none;
}

.directions {
	position: absolute;
	height: 300px;
	width: 400px;
	left: 25px;
	top: 176px;
}

.contact-wrapper-mobile {
	position: relative;
	background-color: black;
	overflow: hidden;
	text-align: center;
}

.mobile-form {
	position: absolute;
	width: 240px;
	overflow: hidden;
	left: 18%;
	top: 43%;
}

.contact-area2 {
	height: 93vh;
	/* width: 150px; */
	position: relative;
	overflow-x: hidden;
}

.directions2 {
	position: absolute;
	height: 180px;
	left: 19%;
	top: 15%;
}

.form2-details p {
	color: white;
	text-align: right;
	font-size: 0.85rem;
	left: 6%;
}

.mobile-form input {
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	background: transparent;
	border-bottom: 1px solid #ffffff;
	padding-top: 22px;
	font-size: 0.8rem;
	-webkit-border-radius: 0px;
}

.form .button {
	border: none;
}

.form .button:hover {
	color: #f07f0a;
}

.form .m-send {
	position: absolute;
	left: -1%;
}

.form .m-reset {
	position: absolute;
	left: 18%;
}

.form .l-send {
	position: relative;
	left: -38%;
}
.form .l-reset {
	position: relative;
	left: -38%;
}

span {
	color: #f07f0a;
}

/* Center the loader */
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 75px;
	height: 75px;
	margin: -75px 0 0 -75px;

	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

#webPage {
	display: none;
	text-align: center;
}
