.thumbnail {
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	opacity: 1;
}

.overlay {
	display: none;
}

.thumbnail-container:hover .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.52);
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	text-align: center;
}

.thumbnail-container:hover .overlay p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

.row {
	margin: 0;
}

.col-md-4 {
	padding: 0;
}

.col-xl-12 {
	padding: 0;
}

.col-md-12 {
	padding: 0;
}

#navigation {
	display: inline;
	height: 10vh;
}

.logo-image {
	max-width: 15%;
	left: 200px;
	filter: invert(1);
}

#email:hover {
	color: #f07f0a;
	text-decoration: none;
}

.menu {
	float: right;
	clear: both;
	display: inline;
	position: absolute;
	top: 2%;
	left: 83%;
	margin-right: 0;
}

.menu-list {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-list li {
	display: inline-block;
	top: 20px;
	padding: 8px;
}

.nav-link {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-align: right;
	-webkit-font-smoothing: antialiased;
}

.navbar-brand {
	margin-right: -0.5rem;
}

.navbar-light .navbar-toggler {
	border-color: rgba(251, 252, 252, 0);
}

#menu:hover {
	color: #f07f0a;
}

.heading {
	font-size: 1.5rem;
	top: 15%;
}

.logo {
	left: 5%;
	padding-left: 1%;
	padding-top: 0.5%;
	
}

.white_logo {
	position: fixed;
	padding: 10px;
	z-index: 2;
}

.buttons {
	position: fixed;
	right: 15px;	
	padding: 10px;
	float: right;
	z-index: 2;
}

h5:hover {
	color: #f07f0a;
}


.foot {
	background: black;
	height: 68px;
}

#email {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	padding-top: 22px;
	padding-right: 18px;
	float: right;
	text-decoration: none;
}



.details {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	padding-top: 18%;
	float: right;
	padding-right: 3%;
	text-decoration: none;
}

.pigtitle {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	padding-top: 24%;
	font-weight: bold;
	float: left;
	
}

.overlay {
	display: none;
}

.thumbnail:hover .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	text-align: center;
}

.thumbnail:hover .overlay p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 20px;
}

.container-fluid {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.gallery-cell {
	width: 100%;
	font-size: 24px;
	background: #eee;
}

h5 {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	float: left;
}

.project-title {
	left: 20px;
}

.bg-light {
	background-color: #ffffff !important;
}

.project-description {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	padding-top: 1%;
	padding-bottom: 47%;
	margin-top: 80px;
	margin-left: 60px;
	font-weight: bold;
	float: left;
}

.col-md-6 {
	padding: 0;
}



#orange {
	color: #f07f0a;
}

/* Centre the loader */

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 75px;
	height: 75px;
	margin: -83px 0 0 -40px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Add animation to "page content" */

.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

#webPage {
	display: none;
	text-align: center;
}

.title-tchr {
	position: absolute;
	top: 15%;
	left: 6%;
}

#title-text {
	font-weight: 400;
	font-size: 1.5rem;
	text-align: right;
	font-family: 'Poppins', sans-serif;
	padding-left:15px;
}

#project-title {
	color: white;
}
#project-title2 {
	color: black;
}

.title-menu {
	position: absolute;
	top: 15%;
	left: 5%;
	color: white;
} 


.title-pigs {
	position: absolute;
	top: 16%;
	left: 6%;
	height: 30%;
	width: 22%;
}

#project-title-mood {
	color: rgb(229, 115, 46);
}

.title-mood {
	position: absolute;
	top: 16%;
	left: 6%;
	color: white;
}

.title-tel {
	position: absolute;
	top: 15%;
	left: 7%;
	color: black;
}

.title-bom {
	position: absolute;
	top: 15%;
	left: 9%;
}

/* .project-title-poor {
	position: absolute;
	top: 16%;
	left: 6%;
	color: white;
} */

.title-menu-poor {
	position: absolute;
	top: 15%;
	left: 5%;
	color: white;
} 

.project-box{
	
	height: 120px;
}

.project-box-pm{
	
	height: 320px;
}
#title-text-pm {
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	color: white;
	font-weight: bold;
	
	
  }

.tbc{

	background-color: #eb6705;
}

.lnd {
	background-color: black;
	
}

.m-sf {
	background-color: black;
}

.contact-container {
	position: relative;
	background-color: black;
	height: 100vh;
	width: 100vw;
	
}

.deets {
    position: absolute;
    width: 500px;
    height: 200px;
    color: white;
    display: flex;
    top: 45%;
    left: 32%;
}

#yellow {
	color: rgb(255, 229, 79);
}


#project-title-11 {
	color: rgb(255, 229, 79);
}

span {
	color: #df429b
}

.me {
	position: relative;
	height: 155px;
	top: -200%;
}

.text {
	top: 1%;
	height: 200px;
	width: 400px;
	text-align: right;
}

.project-box-mfd{
	padding-left: 15px;
	height: 190px;
}

a:link {
	color: rgb(255, 229, 79);
	
	text-decoration: none;
  }

  a:visited {
	color: rgb(255, 229, 79);
	
	text-decoration: none;

  }

